header {
  background-color: #CCCCCC;
  color: #ffffff;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.head-buttons button {
  font-size: 20px;
  background-color: #CCCCCC;
  border:none;
  color: #ffffff;
  padding-right:10px
}
body{
  background-color: #373737; 
  }
section{
  margin-top: 20px;
  display: flex;
}
img{
  max-width: 100%;
  margin: 0 auto;
  display:flex;
  margin-bottom: 20px;
}
h1 {
  margin-left: 150px;
}
p {
  text-align: justify;
  color:#CCCCCC;
}
.below-header{
  max-width: 70%;
  margin: 0 auto; /* this centers the container horizontally*/
  text-align: center;
}
.below-image{
  display: flex;
  justify-content: space-around;
}
h2 {
  background-color: #303030;
  color: #CCCCCC; 
}
.below-image div{
  max-width: 31%;
}