html {
    scroll-behavior: smooth;
}
.main-image {
    width: 100%;
}
.main-image img{
    width:1512px;
    height:850px;
}
#top1 {
    position: absolute;
    top:45px;
    left:390px;
}
#top1 p{
    cursor: pointer;
}
#introduction {
    font-family: sans-serif;
    position: absolute;
    top:260px;
    left:400px;
}
#about img{
    max-width: 70%;
}
#skills-logos img{
    max-width: 40%;
}
.css p, .java p, .python p, .vscode p, .github p, .eclipse p{
    padding-left:15px;
    font-family: sans-serif;
}
#strengths-header {
    font-family: sans-serif;
}
#strengths-logos{
    gap:40px;
    text-align: justify;
    margin-bottom: 100px;
}
#strengths-logos img{
    max-width: 50%;
    margin-left:35px;
}
.teamwork {
    margin-top:-8px;
}
.fast-learner{
    margin-top:-42px;
}
.vision {
    margin-top:-20px;
}
.projects-picture img{
    width:1512px;
    height:920px;
}
#projects2 {
    position: absolute;
    top: 2760px;
    gap:30px
}
#projects2 div{
    background-color: #c1c1c1;
    width:300px;
    height: 630px;
    border-radius: 10px;
}
#projects2 img{
    max-width: 95%;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 15px;
}
#projects2 h2{
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
#projects2 p{
    padding-left: 10px;
    width:285px;
    text-align: justify;
}
#projects2 button{
    margin-top: 5px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00ccff;
    border: none;
    border-radius: 10px;
    cursor: pointer;}
#projects2 h3{
    font-size: 18px;
    padding-left: 15px;
}
.html-css h3{
    padding-top: 48px;
}
.python-bank h3{
    padding-top:25px;
}
.java-shipment h3{
    padding-top: 24px;
}
.contact{
    margin-top:150px;
}
#contact-header{
    font-size: 30px;
    margin-bottom: 55px;
}
#contact-info{
    margin-left: 150px;
    margin-right: 170px;
}
.top{
    margin-bottom: 25px;
}
.contact-socials{
    margin-top: 100px;
}
#socials-apps{
    margin-top:100px;
    margin-right: 600px;
    margin-left: 600px;
}
#back-to-top button{
    background-color: #808080;
    margin-left: 685px;
    margin-top: 40px;
    font-family: sans-serif;
    border:none;
}