body {
    margin:0;
    background-color: #bb9696 ;
}
.form-one, .form-two, .form-three, .form-four, .form-five {
    max-width: 600px;
    padding-top: 10px;
    background-color: #c9c4c4;
    margin:20px auto;
}
.register-header p , .login-header p{
    font-size: 20px;
    text-align: center;
}
.row-one, .row-two, .third-row{
    display:block;
    margin-left: 10px;
    margin-bottom: 10px;
}
.register-button, .login-button, .start-button {
    display:flex;
    align-items: center;
    justify-content: center;
}
.register-button button, .start-button button {
    margin-top: 15px;
    margin-bottom:30px;
    padding:10px;
    cursor: pointer;
}
#login {
    display: none;
}
.login-button button{
    margin-top: 15px;
    margin-bottom:30px;
    padding:10px;
    cursor: pointer;
}
#exam-brief {
    display: none;
}
#exam {
    display:none;
    padding-left: 15px;
}
#text-of-question {
    padding-bottom: 15px;;
}
.option-button {
    margin: 8px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.nextOne{
    display:flex;
    align-items: center;
    justify-content: center;
}
.nextOne button{
    margin-top: 15px;
    margin-bottom:30px;
    padding:10px;
    cursor: pointer;
}

#results {
    display: none;
}
.results-header {
    text-align: center;
    font-size: 25px;
}
#result-output {
    padding-left: 25px;
}
#result-score {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrong-answer {
    color: #d21212;
}
.correct-answer {
    color: #1d810b;
}
.error {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d21212;
}